<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <TurboIT_Gearman>
      <version>0.1.0</version>
    </TurboIT_Gearman>
  </modules>
  <global>
    <models>
      <gearman>
        <class>TurboIT_Gearman_Model</class>
        <resourceModel>gearman_resource</resourceModel>
      </gearman>
      <gearman_resource>
        <class>TurboIT_Gearman_Model_Resource</class>
        <entities>
          <gearman_job>
            <table>gearman_job</table>
          </gearman_job>
        </entities>
      </gearman_resource>
    </models>
    <resources>
      <gearman_write>
        <connection>
          <use>core_write</use>
        </connection>
      </gearman_write>
      <gearman_read>
        <connection>
          <use>core_read</use>
        </connection>
      </gearman_read> 
    </resources>
    <blocks>
      <gearman>
        <class>TurboIT_Gearman_Block</class>
      </gearman>
    </blocks>
    <helpers>
      <gearman>
        <class>TurboIT_Gearman_Helper</class>
      </gearman>
    </helpers>
  </global>
  <crontab>
    <jobs>
      <gearman_job_scheduler>
        <schedule><cron_expr>10 * * * *</cron_expr></schedule>
        <run><model>gearman/observer::processGearmanJobs</model></run>
      </gearman_job_scheduler>
    </jobs>
  </crontab>
  <adminhtml>
    <layout>
      <updates>
        <gearman_index>
          <file>turboit/gearman.xml</file>
        </gearman_index>
      </updates>
    </layout>
  </adminhtml>
  <admin>
    <routers>
        <adminhtml>
            <args>
                <modules>
                    <gearman before="Mage_Adminhtml">TurboIT_Gearman_Adminhtml</gearman>
                </modules>
            </args>
        </adminhtml>
    </routers>
  </admin>
</config>