<?xml version="1.0" encoding="UTF-8"?>
<config>
  	<modules>
    	<TurboIT_Gearman>
      		<version>0.1.0</version>
    	</TurboIT_Gearman>
  	</modules>
  	<global>
    <models>
      	<turboit_gearman>
        	<class>TurboIT_Gearman_Model</class>
        	<resourceModel>gearman_resource</resourceModel>
      	</turboit_gearman>
      	<gearman_resource>
        	<class>TurboIT_Gearman_Model_Resource</class>
        	<entities>
          		<gearman_job>
            		<table>gearman_job</table>
          		</gearman_job>
        	</entities>
      	</gearman_resource>
    </models>
    <resources>
		<turboit_gearman_setup>
			<setup>
				<module>TurboIT_Gearman</module>
			</setup>
		</turboit_gearman_setup>
		<turboit_gearman_write>
			<connection>
				<use>core_write</use>
			</connection>
		</turboit_gearman_write>
		<turboit_gearman_read>
        	<connection>
          		<use>core_read</use>
        	</connection>
      	</turboit_gearman_read> 
    </resources>
    <helpers>
      <turboit_gearman>
        <class>TurboIT_Gearman_Helper</class>
      </turboit_gearman>
    </helpers>
  </global>
  <crontab>
    <jobs>
      <gearman_job_scheduler>
        <schedule><cron_expr>10 * * * *</cron_expr></schedule>
        <run><model>gearman/observer::processGearmanJobs</model></run>
      </gearman_job_scheduler>
    </jobs>
  </crontab>
</config>